{% load staticfiles %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <title>Pro Meals: Eat Healthy, Live Well</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <!-- Bootstrap core CSS -->
   <!--  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    
<link href="{% static "css/packages.css" %}" rel="stylesheet"> 

    <!-- Fonts from Google Fonts -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'> -->


    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

   <style type="text/css">

.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}
</style>

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h3><b><i>PRO-MEALS</i></b></h4><p style="margin-top:-5px;">Fitness food for smart people</p>
		
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li style="margin-top:10px"><form class="form-inline" method="POST" action="{% url 'login' %}" >{% csrf_token %}
{% bootstrap_form loginForm %}

<button type="submit" class="btn btn-primary btn-sm">Log In</button>
</form></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap" style="margin-top:">
		
		<div id="skills">
			<div id="w" style="height:150px">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
				<h3>WELCOME TO <bold>PRO MEALS.</bold> <br><bold>WE MAKE FITNESS FOODS </bold> FOR A HEALTHY BODY <br><h4>Choose a weekly package and food will be delivered everyday.</h4><h3>
					
				
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
		<div class="container">
		<!-- 	<div class="row" style="margin-top:-40px">
			<div class="col-lg-6" style="background-color:">
				<h3 style='text-align:center; color:#5E5E5E;'>Fresh & Healthy Home Food.<br><b>Pay once, eat everyday!</b></h3>
				<h4 style="text-align:center; color:;">We believe in eating healthy food, and we also believe healthy food should not be expensive.</h4>
				<h4 style="text-align:center; color:#434343;">That's why we started <b>Feasty Meals</b>, to deliver fresh & healthy home cooked food to busy people in Dubai.</h4>
				
			</div>
			
			<div class="col-lg-3">
				<img src="{% static "img/chef-says-ok.png" %}" style="width:150px; height:150px;">
				</div>
		</div> --><!-- /row -->
		

		
		
		<div class="row" style="margin-top:; background-color:;">
		
		<div class="col-lg-8"  style="margin-top:;">
			
			<! -- CAROUSEL -->
		
			<div id="carousel-example-generic" class="carousel slide" data-interval="3000" data-ride="carousel" style="margin-bottom:30px;">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
				  </ol>
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				    	 <div class="carousel-caption">
                  <h3>!</h3>
                  
                </div>
				      <img src="{% static "img/tuna-salad.jpg" %}" alt="">
				    </div>
				   

				    <div class="item">
				    	<div class="carousel-caption">
                  <h3 style='color:'>Fresh healthy food delivered daily</h3>
                  
                </div>
				      <img src="{% static "img/salad2.jpeg" %}" alt="">
				    </div>
				   

				    <div class="item">
				    	<div class="carousel-caption">
                  <h3>Weekly meal packages - Pay once, eat everyday!</h3>
                  
                </div>
				      <img src="{% static "img/salad.jpg" %}" alt="">
				    </div>


				    <div class="item">
				    	<div class="carousel-caption">
                  <h3 style='color:'>Balanced ingredients for maximum nutrition.</h3>
                  		
                </div>
				      
				      <img src="{% static "img/c1.jpeg" %}" alt="">
				    </div>


				    <div class="item">
				    	<div class="carousel-caption">
                  <h3 style='color:'>Fresh foods only, obviously</h3>
                  
                </div>
				      <img src="{% static "img/food2.JPG" %}" alt="">
				    </div>

				    <div class="item">
				    	<div class="carousel-caption">
                  <h3 style=''>Something special on weekends</h3>
                  
                </div>
				      <img src="{% static "img/food3.jpg" %}" alt="">
				    </div>



				  </div>
				  

				  
				</div>			
				<h4><b>WHY PRO MEALS?</b></h4>
				<h5 style="color:white"><b>WE BELIEVE IN EATING HEALTHY FOOD, AND WE ALSO BELIEVE HEALTHY FOOD SHOULD NOT BE EXPENSIVE.</b></h5>
				<h5><b>ALL OF US WHO WORK HARD TO STAY FIT SHOULD EAT THE RIGHT FOODS FOR OUR BODY. THIS FOOD APPARENTLY WAS HARD TO FIND.</b></h5>
			<h5 style="color:white"><b>THAT'S WHY WE STARTED PRO MEALS, TO DELIVER FRESH & HEALTHY FITNESS FOOD TO PEOPLE WHO CARE.</b></h5>  
			<h5><b>WITH PRO MEALS YOU CAN CHOOSE WEEKLY PACKAGES ACCORDING TO YOUR FITNESS REGIME AND HAVE THE HEALTHIEST FOOD DELIVERED TO YOU EVERYDAY.</b></h5> 
			</div><!-- /row -->
	<!-- <div class="row" style="background-color:orange; margin-top:-600px;" >
			<img class="img-responsive" src="{% static "img/food4.jpg" %}" alt="">
			</div><!-- /col-lg-6 --> 
		
			<div class="col-lg-4 " style="background-color:; margin-top;">
				<div class="alert alert-danger" style="text-align:center; margin-top:-100px;">Last <b>{{limit}}</b> Free Meals left for <b>Dubai Marina</b></div>
				<div class="well" style="padding:10px">
				<h2 style="color:#5E5E5E;">Sign Up for a <b style='color:red'>Free Meal!</b></h2>
					<form method="POST" class="form-vertical">{% csrf_token %}
						
					  <div class="form-class">
					  	{% bootstrap_form registrationForm  %}
						</div>
						{% if form.errors %}
							{% for field in form %}
								{% for error in field.errors %}
									<div class="alert alert-error">
										<strong>{{error|escape}}</strong>
									</div>
								{% endfor %}
							{% endfor %}
							
    						{% for error in form.non_field_errors %}
        					<div class="alert alert-error">
            					<strong>{{ error|escape }}</strong>
					        </div>
    						{% endfor %}
						{% endif %}
					  
					  <button type="submit" class="btn btn-primary btn-lg">Sign Up!</button>
					</form>	
			</div>
		</div>




		</div>

			
		</div><!-- /container -->
	</div><!-- /headerwrap -->
</div>

<div class="container">
		<hr>
			<h3 style='text-align:center; color:#4C4C4C;'><b><i>Our Packages</i></b></h3><h5 style='text-align:center; color:#4C4C4C;'>Our delicious dinners to offer nutritious meals all week long</h5>
		<hr>
		
	</div><!-- /container -->

	<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4" >
            <h4 style='text-align:center; background-color:white;padding:15px;'><b>DIET PACKAGE</b></h4>
            <div class="post">
                <div class="post-img-content">
                    <img src="{% static "img/salad.jpg" %}" style="width:455px;height:250px;overflow:hidden;"/>
                    <span class="post-title">
                        <b>350-500 calories</b><br>
                    	<b>Low Fat</b><br>
                    	<b>High Fibre</b><br>
                    	<b>Fruits & Veggies</b></span>
                </div>
                <div class="content">
                	<div class="author">
                        <b>Diet Package</b> |
                       
                    </div>
                    	<div style='text-align:center'>
                    	<b>Primary meal + Salad + Fresh juice</b></div>
                    	<hr>

                    <div>
                    	This package will help you lose excess weight with foods that are low in saturated fats and high in fibre. Each meal is under <b>500</b> calories.<br>
                    	 The salad with every meal is rich in <b>antioxidant</b> vegetables and packs a punch of <b>vitamins & minerals</b>.<br> Try this package for a leaner, healthier you.
                    	</div>
                   	
                    <hr>
                  

                    <div style='text-align:center'>
                        <a href="http://www.jquery2dotnet.com/2014/01/jquery-highlight-table-row-and-column.html" class="btn btn-warning btn-sm">View meals</a></div>
                    </div>
                </div>
            </div>
       
        <div class="col-sm-4 col-md-4">
        	<h4 style='text-align:center; background-color:white;padding:15px;'><b>ENERGY & LEAN PACKAGE</b></h4>
            <div class="post">
                <div class="post-img-content">
                    <img src="{% static "img/food1.jpg" %}" style="width:455px;height:250px;overflow:hidden;" class="img-responsive" />
                    <span class="post-title">
                        <b>600-800 calories</b><br>
                    	<b>Proteins</b><br>
                    	<b>Carbs</b><br>
                    	<b>Fruits & Veggies</b></span>
                </div>
                <div class="content">
                    <div class="author">
                         <b>Energy| Lean</b> |
                        
                    </div>
                    <div style='text-align:center'>
                    	<b>Primary meal + Secondary Meal + Fresh juice</b></div>
                    	<hr>
                    <div>
                        This package makes for excellent post-workout fuel (a great mix of whole grains and protein). An athletic diet of complex carbohydrates. You'll need this combination of foods as fuel to get the most of your workouts and truly get in the best shape of your life!
                    </div>
                    <div>
                        <a href="http://www.jquery2dotnet.com/2013/11/share-social-media-round-buttons.html" class="btn btn-primary btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
        	<h4 style='text-align:center; background-color:white;padding:15px;'><b>MUSCLE BUILDING PACKAGE</b></h4>
            <div class="post">
                <div class="post-img-content">
                     <img src="{% static "img/fitness-food2.jpg" %}" style="width:455px;height:250px;overflow:hidden;" class="img-responsive" />
                    <span class="post-title">
                        <b>900-1200 calories</b><br>
                    	<b>Proteins</b><br>
                    	<b>Carbs</b><br>
                    	<b>Unsaturated Fats</b><br>
                    	<b>Smoothies</b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div style='text-align:center'>
                    	<b>Primary meal + Secondary Meal + Smoothie</b></div>
                    	<hr>
                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                    <div>
                        <a href="http://www.jquery2dotnet.com/2013/07/cool-social-sharing-button-using-css3.html" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="c" style="margin-top:50px">
		<div class="container">
			<p style="color:#00ccdd"> </p>
		
		</div>
	</div>

	<div class='container'>
<div class="row" style="height:100px;">
	<hr>
	<h3 style='text-align:center; color:#4C4C4C;'><b><i>Our Food</i></b></h3><h5 style='text-align:center;'><h5 style='text-align:center; color:#4C4C4C;'>Every meal provides these values</h5><br>

	<hr>
	</div>
</div>
<div id="w">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 ">
				<img src="{% static "img/fresh.png" %}" class='img-circle'style="width:150px;height:150px;">
				<h4>WELCOME TO <bold>ONASSIS</bold>. <bold>A FREE BOOTSTRAP 3</bold> THEME. CRAFTED WITH LOVE BY <bold>BLACKTIE.CO</bold>. <br/>
					<bold>IDEAL FOR</bold> AGENCIES & FREELANCERS.
				</h4>
				</div>
				<div class="col-lg-3 ">
				<img src="{% static "img/healthy.jpg" %}" style="width:170px;height:150px;">
				<h3>WELCOME TO <bold>ONASSIS</bold>. <bold>A FREE BOOTSTRAP 3</bold> THEME. CRAFTED WITH LOVE BY <bold>BLACKTIE.CO</bold>. <br/>
					<bold>IDEAL FOR</bold> AGENCIES & FREELANCERS.
				</h3>
				</div>
				<div class="col-lg-3 ">
				<img src="{% static "img/pro-health.png" %}" class='img-circle'style="width:150px;height:150px;">
				<h3>WELCOME TO <bold>ONASSIS</bold>. <bold>A FREE BOOTSTRAP 3</bold> THEME. CRAFTED WITH LOVE BY <bold>BLACKTIE.CO</bold>. <br/>
					<bold>IDEAL FOR</bold> AGENCIES & FREELANCERS.
				</h3>
				</div>
				<div class="col-lg-3 ">
				<img src="{% static "img/nutritious.jpg" %}" class='img-circle'style="width:150px;height:150px;">
				<h3>WELCOME TO <bold>ONASSIS</bold>. <bold>A FREE BOOTSTRAP 3</bold> THEME. CRAFTED WITH LOVE BY <bold>BLACKTIE.CO</bold>. <br/>
					<bold>IDEAL FOR</bold> AGENCIES & FREELANCERS.
				</h3>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
	
	

			
<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
					<h3><b>CONTACT US</b></h3>
					<br>
					<div class="col-lg-4">
						<h3><b>Send Us A Message:</b></h3>
						<h3 style="color:#00ccdd">fitness@pro-meals.com</h3>
						<br>
					</div>
					
					<div class="col-lg-4">	
						<h3><b>Call Us:</b></h3>
						<h3 style="color:#00ccdd">+971 552051031</h3>
						<br>
					</div>
					
					<div class="col-lg-4">
						<h3><b>We Are Social</b></h3>
						<p>
							<a href="index.html#"><i class="icon-facebook"></i></a>
							<a href="index.html#"><i class="icon-twitter"></i></a>
							<a href="index.html#"><i class="icon-envelope"></i></a>
						</p>
						<br>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	
	<div id="c">
		<div class="container">
			<p style="color:#00ccdd">PRO MEALS &#174 2014 </p>
		
		</div>
	</div>


	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>






